// list07
section.list_07(data-menu='true')
	.layoutWrap
		h2.title SELECTED ARTICLES
		ul.article
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/76087', target='_blank', data-imgload='img/article/l_07/01.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/76087', target='_blank')
						h3 【懂玩青年】少年仔！出去玩就是要這幾款「傻瓜相機」才夠瞎趴！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/76278', target='_blank', data-imgload='img/article/l_07/02.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/76278', target='_blank')
						h3 【懂玩青年】玩 123 木頭人，一動就爆頭？好萊塢遊戲上癮「另類玩命」4 部電影大特搜
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/76081', target='_blank', data-imgload='img/article/l_07/03.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/76081', target='_blank')
						h3 【懂玩青年】從不懂到超會玩！特搜台南 4 大超美秘境　「南部大峽谷」就在這！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/76355', target='_blank', data-imgload='img/article/l_07/04.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/76355', target='_blank')
						h3 【懂玩青年】3 月才不是開學季！10 首 2018「最燥電音」　整個學校就是我的行動夜店！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/76316', target='_blank', data-imgload='img/article/l_07/05.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/76316', target='_blank')
						h3 【懂玩青年】抖音到底夯什麼？網友公認 10 首最洗腦 BGM「原曲特搜」　聽完只好跟著入坑！
			li
				a.img.imgLoading.showOnScroll(data-show-offset='100', data-show-animation='custom_tiltinup', href='https://www.juksy.com/archives/76323', target='_blank', data-imgload='img/article/l_07/06.jpg')
					.linkWrap
				.txtWrap
					a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/76323', target='_blank')
						h3 【懂玩青年】又是遊戲大年無誤！特搜「2018 必玩遊戲 Top 8」　網友：每款都想入坑！
// list07 end