// list09
section.list_09(data-menu='true')
	.layoutWrap
		h2.title JUKSY STAR
		.article
			ul.pic.showOnScroll(data-show-offset='100', data-show-animation='custom_R2Lflow')
				li.now
					a.img.imgLoading(href='https://www.juksy.com/archives/77284', target='_blank', data-imgload='img/article/l_09/01.jpg')
				li
					a.img.imgLoading(href='https://www.juksy.com/archives/77285', target='_blank', data-imgload='img/article/l_09/02.jpg')
			.txt
				ul.dateWrap
					li.now
						.date 05
						.month Mar
							br
							| 2018
						.author by Cloud
					li
						.date 13
						.month Mar
							br
							| 2018
						.author by Cloud
				ul.main
					li.now
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/77284', target='_blank')
								h3 【童心主張】修杰楷自認無趣、零幽默感 卻神來一筆：「我想過很特別的事，網路就是外星人，因為它真能徹底統治這個世界。」
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') 一向給人嚴肅穩重的修杰楷，自認童年至今並無太多瘋狂或脫序糗事的修杰楷，甚至直言：「我人生其實很無聊，而且內心兒童指數可能才20%！」修杰楷因重心放在陪伴孩子成長，近兩年鮮少有大型戲劇作品跟大家見面，近期正調整狀態重返崗位，籌備新戲當中，修杰楷透露：「這次劇本相當特別，有別於以往我所飾演的角色風格，是一個全新挑戰的演出。」興奮的宣告將回歸喜愛的演員角色。
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href='https://www.juksy.com/archives/77284', target='_blank') Read More >>
					li
						.atitleWrap.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup')
							a.atitle(data-dotdotdot='true', href='https://www.juksy.com/archives/77285', target='_blank')
								h3 【童心主張】修杰楷點頭接受裝幼齒挑戰？「偽潮童」裝扮首度公開！
						.detail.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', data-dotdotdot='true') efewfeffewfewfwefwefwefwefewfwefwefwefwfwfwefwef
						a.button.showOnScroll(data-show-offset='100', data-show-animation='custom_fadeinup', href=' https://www.juksy.com/archives/77285', target='_blank') Read More >>
			.navWrap
				.nav
					.btn.left.end <
					.number
						span.now 1
						| /
						span.total 2
					.btn.right >
// list09 end